---
page_title: "doppler_secrets_sync_supabase Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a Supabase Doppler sync.
---

# doppler_secrets_sync_supabase (Resource)

Manage a Supabase Doppler sync.

## Example Usage

{{tffile "examples/resources/secrets_sync_supabase.tf"}}

{{ .SchemaMarkdown | trimspace }}
