---
page_title: "doppler_service_account_identity Resource - terraform-provider-doppler"
subcategory: "Service Accounts"
description: |-
	Manage a Doppler service account identity.
---

# doppler_service_account_identity (Resource)

Manage a Doppler service account identity.

## Example Usage

{{tffile "examples/resources/service_account_identity.tf"}}

{{ .SchemaMarkdown | trimspace }}
